.additional-goods {
  width: $mobileWidth;
  margin: auto;
}

.additional-goods__title {
  width: 280px;
  margin: auto;
  font-family: $fontBase;
  font-size: $fontBaseSizeTitleMid;
  font-weight: normal;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}

@media (min-width: $tabletWidth) {
  .additional-goods {
    width: $tabletWidth;
    margin: auto;
  }

  .additional-goods__title {
    width: auto;
    margin: 0 auto;
    margin-left: 67px;
    font-size: $fontBaseSizeTitle;
    border: none;
  }
}

@media (min-width: $desktopWidth) {
  .additional-goods {
    width: 1440px;
    display: flex;
  }

  .additional-goods__title {
    width: auto;
    margin-left: 113px;
    margin-bottom: 75px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
