.address {
  width: 280px;
  margin: auto;
  display: flex;
}

.address__alternative {
  background-color: #f2f2f2;
}

.address__invite {
  font-family: $fontBase;
  font-size: $fontBaseSize;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
}

.address__description {
  font-family: $fontSecondary;
  font-size: $fontBaseSizeMobile;
  line-height: 1.5;
  padding-top: 33px;
  margin: 0;
}

.address__wrapper {
  padding-top: 30px;
  padding-bottom: 25px;
  padding-right: 19px;
}
