.advantages {
  width: $mobileWidth;
  margin: auto;
}

.advantages__title {
  font-family: $fontBase;
  font-size: $fontBaseSizeTitle;
  text-align: left;
  font-weight: normal;
  width: 280px;
  margin: auto;
  margin-top: 32px;
  line-height: 1;
  margin-bottom: 35px;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  color: #444444;
  width: 200px;
  margin: auto;
  margin-top: 22px;
  position: relative;
  margin-left: 100px;
}

.advantages__description::before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  left: -80px;
}

.advantages__description::after {
  content: "";
  display: block;
  position: absolute;
  width: 26px;
  height: 29px;
  background: url("../img/advantage-leaf@1x.png") no-repeat center;
  top: 17px;
  left: -63px;
}

.advantages__description--powder {
  &::after {
    background: url("../img/advantage-powder@1x.png") no-repeat center;
  }
}

.advantages__description--dining {
  &::after {
    background: url("../img/advantage-dining@1x.png") no-repeat center;
  }
}

.advantages__description--clock {
  &::after {
    background: url("../img/advantage-clock@1x.png") no-repeat center;
  }
}

@media (min-width: $tabletWidth) {
  .advantages {
    width: 708px;
  }

  .advantages__title {
    font-family: $fontBase;
    font-size: $fontTitleTablet;
    width: 375px;
    text-align: left;
    margin-left: 0;
    margin-top: 51px;
    margin-bottom: 63px;
  }

  .advantages__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .advantages__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 235px;
    margin: 0;
    padding-right: 145px;
    position: relative;
  }

  .advantages__item::before {
    content: "1";
    display: block;
    position: absolute;
    font-family: $fontBase;
    font-size: 281px;
    color: #f2f2f2;
    top: -62px;
    left: 120px;
  }

  .advantages__item:nth-child(2) {
    padding-right: 90px;
    position: relative;
  }

  .advantages__item:nth-child(2)::before {
    content: "2";
    display: block;
    position: absolute;
    font-family: $fontBase;
    font-size: 281px;
    color: #f2f2f2;
  }

  .advantages__item:nth-child(3) {
    padding-right: 145px;
    position: relative;
    padding-bottom: 0;
  }

  .advantages__item:nth-child(3)::before {
    content: "3";
    display: block;
    position: absolute;
    font-family: $fontBase;
    font-size: 281px;
    color: #f2f2f2;
  }

  .advantages__item:nth-child(4) {
    padding-right: 90px;
    position: relative;
    padding-bottom: 0;
  }

  .advantages__item:nth-child(4)::before {
    content: "4";
    display: block;
    position: absolute;
    font-family: $fontBase;
    font-size: 281px;
    color: #f2f2f2;
  }

  .advantages__description::before {
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
  }

  .advantages__description {
    font-family: $fontSecondary;
    font-size: $fontBaseSize;
    line-height: 1.5;
    margin: auto;
    padding-top: 120px;
    padding-bottom: 135px;
    margin-left: 0;
    width: 245px;
  }

  .advantages__description--dining {
    padding-bottom: 105px;
  }

  .advantages__description--clock {
    padding-bottom: 105px;
  }

  .advantages__description::after {
    top: 25px;
    left: 27px;
  }
}

@media (min-width: $desktopWidth) {
  .advantages {
    width: 1440px;
    margin: auto;
  }

  .advantages__title {
    margin-top: 79px;
    margin-bottom: 63px;
    margin-left: 113px;
  }

  .advantages__item:nth-child(4) {
    padding-right: 100px;
    padding-left: 0;
  }

  .advantages__item:nth-child(1) {
    padding-left: 110px;
    padding-right: 124px;
    width: 201px;
  }

  .advantages__item:nth-child(2) {
    padding-right: 105px;
  }

  .advantages__item:nth-child(3) {
    width: 205px;
    padding-right: 121px;
  }

  .advantages__description {
    margin: 0 auto;
    padding-bottom: 0;
  }

  .advantages__item:nth-child(1)::before {
    left: 228px;
  }
}
