.comment__title {
  font-family: $fontBase;
  font-size: $fontBaseSizeTitleMid;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 30px;
}

textarea {
  width: 278px;
  font-family: $fontBase;
  font-size: $fontBaseSize;
  font-weight: normal;
  text-transform: uppercase;
  color: #444444;
  padding: 0;
  text-align: center;
  padding-top: 15px;
}

@media (min-width: $tabletWidth) {
  .comment__title {
    font-size: $fontOtherTitleTablet;
    margin-top: 69px;
    margin-bottom: 72px;
  }

  textarea {
    width: 631px;
    height: 174px;
    font-size: $fontSloganTablet;
    text-align: left;
    padding-left: 20px;
  }
}
