.conditions__title {
  font-family: $fontBase;
  font-size: $fontBaseSizeTitle;
  font-weight: normal;
  line-height: 1;
}

.conditions__info {
  margin: 0;
  line-height: 1.29;
  margin-bottom: 35px;
  font-family: $fontBase;
  font-size: $fontBaseSizeMobile;
  font-weight: normal;
  text-transform: uppercase;
  width: 230px;
}

@media (min-width: $tabletWidth) {
  .conditions__title {
    font-size: $fontTitleTablet;
    margin-bottom: 53px;
  }

  .conditions__info {
    font-size: $fontSloganTablet;
    line-height: 1.5;
    width: 325px;
    margin-left: 38px;
    margin-bottom: 69px;
  }
}

@media (min-width: $desktopWidth) {
  .conditions__info {
    margin-left: 0;
  }
}
