.diets__item {
  background-color: #f2f2f2;
  width: 280px;
  margin: auto;
  margin-top: 22px;
  position: relative;
}

.diets__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 51px;
  border-radius: 100%;
  background-color: #68b738;
  margin-left: 22px;
  margin-top: 24px;
}

.diets__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 49px;
  background: url("../img/icon-cat-slim.svg") no-repeat center;
  top: 22px;
  left: 29px;
}

.diets__title {
  font-family: $fontBase;
  font-size: $fontBaseSizeTitleMid;
  text-transform: uppercase;
  color: #111111;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1;
  padding-top: 39px;
  padding-left: 20px;
}

.diets__title--muscle::after {
  content: "";
  display: block;
  position: absolute;
  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") no-repeat center;
  left: 12px;
  top: 34px;
}

.diets__description {
  font-family: "ArialMT", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #444444;
  margin-top: 0;
  margin-bottom: 0;
  width: 240px;
  text-align: left;
  margin-left: 20px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 23px;
  padding-top: 36px;
}

.diets__link {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: $fontBase;
  font-size: $fontBaseSize;
  font-weight: normal;
  text-transform: uppercase;
  color: #111111;
  position: relative;
}

.diets__link::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  background: url("../img/icon-right-arrow-long.svg") no-repeat;
  margin-left: 12px;
  top: 26px;
}

@media (min-width: $tabletWidth) {
  .diets__item {
    width: 708px;
    height: 372px;
    text-align: left;
  }
  .diets__title {
    font-family: $fontBase;
    font-size: $fontOtherTitleTablet;
    font-weight: normal;
    line-height: 1;
    padding-top: 81px;
    padding-left: 55px;
    text-align: left;
  }
  .diets__description {
    width: 375px;
    font-family: $fontSecondary;
    font-size: $fontBaseSize;
    line-height: 1.3;
    margin: 0;
    padding-left: 55px;
    border: none;
    padding-bottom: 0;
  }
  .diets__link {
    font-family: $fontBase;
    font-size: $fontSloganTablet;
    padding-left: 55px;
    padding-top: 61px;
    position: relative;
  }
  .diets__link::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 12px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    margin-left: 25px;
    top: 66px;
  }
  .diets__item::before {
    width: 200px;
    height: 200px;
    margin-left: 450px;
    margin-top: 90px;
  }
  .diets__title::after {
    width: 141px;
    height: 194px;
    top: 75px;
    left: 478px;
  }
  .diets__title--muscle::after {
    width: 268px;
    height: 113px;
    top: 140px;
    left: 415px;
  }
}
@media (min-width: $desktopWidth) {
  .diets {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .diets__item {
    width: 570px;
    margin: 0;
  }
  .diets__item:nth-child(2) {
  margin: 0;
  margin-right: 80px;
  margin-left: 110px;
  }
  .diets__title {
    text-align: center;
  }
  .diets__description {
    width: 465px;
    padding-top: 75px;
  }
  .diets__link {
    padding-top: 36px;
  }
  .diets__link::after {
    top: 42px;
  }
  .diets__item::before {
    width: 100px;
    height: 100px;
    margin-left: 55px;
    margin-top: 50px;
  }
  .diets__title::after {
    width: 71px;
    height: 97px;
    top: 43px;
    left: 66px;
  }
  .diets__title--muscle::after {
    width: 134px;
    height: 97px;
    left: 38px;
    top: 50px;
  }
}
