.example {
  width: 320px;
  margin: auto;
  background-color: #f2f2f2;
}

.example__title {
  font-family: $fontBase;
  font-size: $fontBaseSizeTitle;
  font-weight: normal;
  line-height: 1;
  width: 280px;
  margin: 0 auto;
  padding-top: 33px;
}

.example__description {
  width: 266px;
  margin: auto;
  font-family: $fontSecondary;
  font-size: $fontBaseSizeMobile;
  line-height: 1.29;
  padding-top: 33px;
  padding-bottom: 29px;
}

.example__expenses {
  margin-top: 22px;
  font-family: $fontBase;
  font-size: $fontBaseSizeMobile;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 44px;
}

.example__cat {
  width: 320px;
  height: 235px;
  margin: auto;
  background: url("../img/before-mobile@1x.png") no-repeat;
  padding-bottom: 88px;
}

.example__toggle {
  font-family: $fontBase;
  font-size: $fontBaseSize;
  text-transform: uppercase;
  padding-bottom: 38px;
}

.example__toggle--left {
  padding-left: 64px;
}

.example__toggle--right {
  padding-left: 110px;
}


.results {
  display: flex;
  justify-content: space-around;
  width: 280px;
  margin: auto;
}

.results__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.results__value {
  font-family: $fontBase;
  font-size: $fontBaseSizeTitleMid;
  text-transform: uppercase;
}

.results__description {
  font-family: $fontSecondary;
  font-size: $fontBaseSizeMobileMini;
  color: #444444;
  margin: auto;
  text-align: center;
  width: 60px;
}

.results__wrapper-add {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: $tabletWidth) {
  .example {
    width: 768px;
    background-color: #ffffff;
    border-top: 1px solid #f2f2f2;
  }

  .example__slider {
    background: linear-gradient(#ffffff 0%, #ffffff 30%, #f2f2f2 0%, #f2f2f2 70%);
  }

  .example__title {
    font-family: $fontBase;
    font-size: $fontTitleTablet;
    font-weight: normal;
    line-height: 1;
    margin: 0 auto;
    padding-top: 40px;
    width: 708px;
  }

  .example__expenses {
    font-size: $fontSloganTablet;
    width: 175px;
    text-align: right;
    padding-right: 30px;
    line-height: 1.5;
    padding-bottom: 0;
    display: block;
    margin-top: 0;
  }

  .example__description {
    width: 680px;
    font-family: $fontSecondary;
    font-size: $fontBaseSize;
    color: #444444;
    line-height: 1.5;
    padding-top: 60px;
    padding-bottom: 55px;
    margin-left: 31px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .results {
    margin: 0;
    width: 426px;
  }

  .results__wrapper {
    width: 162px;
  }

  .results__description {
    width: 125px;
  }

  .results__value {
    font-size: $fontStatsTablet;
  }

  .example__cat {
    background: none;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-bottom: 21px;
  }

  .example__fat-cat {
    width: 50%;
    height: 525px;
    margin: 0;
    background: url("../img/before-tablet@1x.png") no-repeat -15%;
  }

  .example__slim-cat {
    width: 50%;
    height: 525px;
    margin: 0;
    background: url("../img/after-tablet@1x.png") no-repeat 110%;
  }

  .example__toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 75px;
  }

  .example__toggle--left {
    padding: 0;
  }

  .example__toggle--right {
    padding: 0;
  }
}

@media (min-width: $desktopWidth) {
  .example {
    width: 1440px;
    margin: auto;
    border: none;
  }
}
