.ingredients__title {
  font-family: $fontBase;
  font-size: $fontBaseSizeTitleMid;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 30px;
}

.ingredients__item {
  line-height: 1;
  font-family: $fontBase;
  font-size: $fontBaseSize;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 28px;
}

.ingredients__item:nth-last-child(1) {
  padding-bottom: 39px;
}

.footnote {
  font-family: $fontSecondary;
  font-size: $fontBaseSizeMobile;
  line-height: 1;
  color: #444444;
  align-items: center;
  margin-left: 60px;
}

@media (min-width: $tabletWidth) {
  .ingredients__title {
    font-size: $fontOtherTitleTablet;
    margin-top: 69px;
    margin-bottom: 79px;
  }

  .ingredients__item {
    font-size: $fontSloganTablet;
    margin-right: 125px;
    padding-bottom: 59px;
  }

  .ingredients__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .ingredients__item:nth-last-child(1) {
    margin-right: 164px;
  }
}
