.page-form {
  width: $mobileWidth;
  margin: auto;
  border-top: 1px solid #cccccc;
}

.selection-program {
  width: 280px;
  margin: auto;
}

@media (min-width: $tabletWidth) {
  .page-form {
    width: $tabletWidth;
    border: none;
  }
}

@media (min-width: $desktopWidth) {
  .page-form {
    width: 1440px;
    margin-left: 110px;
  }
}

