.page-form {
  width: 320px;
  margin: auto;
  border-top: 1px solid #cccccc;
}

.selection-program {
  width: 280px;
  margin: auto;
}
@media (min-width: $tabletWidth) {
  .page-form {
    width: 768px;
    border: none;
  }
}
