.page-header {
  width: 320px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin: auto;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (min-width: $tabletWidth) {
 .page-header {
   display: flex;
   width: 768px;
   border: none;
  }
 .page-header__wrapper {
   padding-left: 29px;
   padding-top: 24px;
   margin-right: 96px;
  }
 .page-header__burger {
  display: none;
 }
}
