.pick-program {
   background: url("/img/index-can-mobile@1x.png") no-repeat top 82% center,
    url("/img/index-background-mobile@1x.jpg") no-repeat top center;
}

.pick-program__title {
  font-family: "OswaldRegular";
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  line-height: 36px;
  margin: 0;
  border: none;
  padding-top: 29px;
  padding-left: 34px;
  padding-right: 37px;
  padding-bottom: 29px;


}

.pick-program__slogan {
  font-family: $fontBase;
  font-size: $fontBaseSizeMobile;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 302px;
  color: #ffffff;

}
