.pick-program {
  width: 100%;
  background: url("/img/index-can-mobile@1x.png") no-repeat top 77% center,
    url("/img/index-background-mobile@1x.jpg") no-repeat top center,
    linear-gradient(#63a73a 63.5%, transparent 36.5%);
}

.pick-program__title {
  width: 320px;
  font-family: $fontBase;
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  line-height: 36px;
  margin: 0 auto;
  border: none;
  padding-top: 29px;
  padding-left: 34px;
  padding-right: 37px;
  padding-bottom: 19px;
}

.pick-program__slogan {
  font-family: $fontBase;
  font-size: $fontBaseSizeMobile;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-bottom: 302px;
  color: #ffffff;
}
