.social {
  width: 280px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  border-bottom: 1px solid #cccccc;
}

.social__item {
  width: 20px;
  height: 20px;
  padding-top: 24px;
  padding-bottom: 21px;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0;
}

@media (min-width: $tabletWidth) {
  .social {
    border: none;
    margin: 0;
  }
}
