@font-face {
  font-family: "OswaldRegular";
  font-weight: 400;
  src: url('../fonts/oswaldregular.woff2') format('woff2');
  src: url('../fonts/oswaldregular.woff') format('woff')
}

@font-face {
  font-family: "OswaldMedium";
  font-weight: 500;
  src: url('../fonts/oswaldmedium.woff2m.woff2') format('woff2');
  src: url('../fonts/oswaldmedium.woff.woff') format('woff')
}
