
$fontBase: "OswaldRegular", "Arial", sans-serif;
$fontBold: "OswaldMedium", "Arial", sans-serif;
$fontSecondary: "ArialMT", "Arial", sans-serif;

$fontBaseSize: 16px;
$fontBaseSizeMobile: 14px;
$fontBaseSizeTitle: 36px;
$fontBaseSizeTitleMid: 24px;
$fontBaseSizeBold: 20px;
$fontBaseSizeMobileMini: 12px;

$fontBaseTablet: 18px;
$fontTitleTablet: 60px;
$fontSloganTablet: 20px;
$fontOtherTitleTablet: 36px;
$fontStatsTablet: 30px;

$tabletWidth: 768px;
$desktopWidth: 1300px;
$mobileWidth: 320px;
